<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ALGODON</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['remitos']">REMITOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['resumen']">RESUMEN</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #0D6EFD;">
                        <strong>CAMPAÑA {{campana ? campana.descripcion : ''}}</strong>
                    </a>
                    <ul class="dropdown-menu">
                        @for (camp of campanas; track $index) {
                        <li><a class="dropdown-item" (click)="seleccionarCampana(camp._id)">{{camp.descripcion}}</a></li>
                        }
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        TABLAS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['socios']">SOCIOS</a></li>
                        <li><a class="dropdown-item" [routerLink]="['sociedades']">SOCIEDADES</a></li>
                        <li><a class="dropdown-item" [routerLink]="['grupo_retiros']">GRUPO RETIROS</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['articulos']">ARTICULOS</a></li>
                        <li><a class="dropdown-item" [routerLink]="['destinos']">DESTINOS</a></li>
                        <li><a class="dropdown-item" [routerLink]="['transportes']">TRANSPORTES</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['campanas']">CAMPAÑAS</a></li>
                        <li><a class="dropdown-item" [routerLink]="['establecimientos']">ESTABLECIMIENTOS</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <router-outlet />
</div>