
    <div class="card mb-5">
        <div class="card-header">
            <h6>RINDES ESTABLECIMIENTOS - CAMPAÑA {{campana ? campana.descripcion : ''}}</h6>
        </div>
        <div class="card-body">
            @for (produccion of datosRindes; track $index) {
            <div class="table-responsive my-4">
                <h4>Establecimientos de: <strong>{{sociedades[produccion.produccion].descripcion}}</strong></h4>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr style="text-align: center;">
                            <th style="min-width: 100px;" scope="col">Establecimiento</th>
                            <th style="min-width: 100px;" scope="col">Sup. [HA]</th>
                            <th style="min-width: 100px;" scope="col">Rollos [Cant.]</th>
                            <th style="min-width: 100px;" scope="col">Neto [KG]</th>
                            <th style="min-width: 100px;" scope="col">Fibra [KG]</th>
                            <th style="min-width: 100px;" scope="col">Semilla [KG]</th>
                            <th style="min-width: 100px;" scope="col">Rinde [KG NETO/HA]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (establecimiento of produccion.establecimientos; track $index) {
                        <tr style="text-align: right;">
                            <th scope="row">{{establecimientos[establecimiento.establecimiento].descripcion}}</th>
                            <td>{{toNumero(establecimiento.ha, 0)}}</td>
                            <td>{{toNumero(establecimiento.cantidad, 0)}}</td>
                            <td>{{toNumero(establecimiento.neto, 0)}}</td>
                            <td>{{toNumero(establecimiento.fibra, 2)}}</td>
                            <td>{{toNumero(establecimiento.semilla, 2)}}</td>
                            <td>{{toNumero(establecimiento.rinde, 2)}}</td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                        <tr style="text-align: right;">
                            <td><strong>TOTAL:</strong></td>
                            <td><strong>{{toNumero(produccion.ha, 0)}}</strong></td>
                            <td><strong>{{toNumero(produccion.cantidad, 0)}}</strong></td>
                            <td><strong>{{toNumero(produccion.neto, 0)}}</strong></td>
                            <td><strong>{{toNumero(produccion.fibra, 2)}}</strong></td>
                            <td><strong>{{toNumero(produccion.semilla, 2)}}</strong></td>
                            <td><strong>{{toNumero(produccion.rinde, 2)}}</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-header">
            <h6>RETIROS POR SOCIEDAD - CAMPAÑA {{campana ? campana.descripcion : ''}}</h6>
        </div>
        <div class="card-body">
            @for (produccion of datosRetiros; track $index) {
            <div class="table-responsive my-4">
                <h4>Establecimientos de: <strong>{{sociedades[produccion.produccion].descripcion}}</strong></h4>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr style="text-align: center;">
                            <th style="min-width: 100px; padding: 2px; vertical-align: middle" scope="col" rowspan="2">RETIRA</th>
                            <th style="min-width: 50px; padding: 2px; vertical-align: middle" scope="col" rowspan="2">%</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col" colspan="3">EN CANTIDAD DE ROLLOS</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col" colspan="3">EN KILOS NETOS</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col" colspan="3">EN KILOS FIBRA</th>
                        </tr>
                        <tr style="text-align: center;">
                            <th style="min-width: 100px; padding: 2px;" scope="col">CORRESP.</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">RETIROS</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">SALDO</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">CORRESP.</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">RETIROS</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">SALDO</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">CORRESP.</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">RETIROS</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">SALDO</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (retirador of produccion.retiradores; track $index) {
                        <tr style="text-align: right;">
                            <th scope="row">{{grupo_retiros[retirador.retira].descripcion}}</th>
                            <td>{{toNumero(retirador.porcentaje, 2)}}%</td>
                            <td>{{toNumero(retirador.rollos_corresponde, 0)}}</td>
                            <td>{{toNumero(retirador.rollos_retiros, 0)}}</td>
                            <td>{{toNumero(retirador.rollos_saldo, 0)}}</td>
                            <td>{{toNumero(retirador.neto_corresponde, 0)}}</td>
                            <td>{{toNumero(retirador.neto_retiros, 0)}}</td>
                            <td>{{toNumero(retirador.neto_saldo, 0)}}</td>
                            <td>{{toNumero(retirador.fibra_corresponde, 2)}}</td>
                            <td>{{toNumero(retirador.fibra_retiros, 2)}}</td>
                            <td>{{toNumero(retirador.fibra_saldo, 2)}}</td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                        <tr style="text-align: right;">
                            <td><strong>TOTAL:</strong></td>
                            <td><strong>{{toNumero(produccion.porcentaje, 2)}}%</strong></td>
                            <td><strong>{{toNumero(produccion.rollos_corresponde, 0)}}</strong></td>
                            <td><strong>{{toNumero(produccion.rollos_retiros, 0)}}</strong></td>
                            <td><strong>{{toNumero(produccion.rollos_saldo, 0)}}</strong></td>
                            <td><strong>{{toNumero(produccion.neto_corresponde, 0)}}</strong></td>
                            <td><strong>{{toNumero(produccion.neto_retiros, 0)}}</strong></td>
                            <td><strong>{{toNumero(produccion.neto_saldo,  0)}}</strong></td>
                            <td><strong>{{toNumero(produccion.fibra_corresponde, 2)}}</strong></td>
                            <td><strong>{{toNumero(produccion.fibra_retiros, 2)}}</strong></td>
                            <td><strong>{{toNumero(produccion.fibra_saldo, 2)}}</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-header">
            <h6>RETIROS TOTALES - CAMPAÑA {{campana ? campana.descripcion : ''}}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive my-4">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr style="text-align: center;">
                            <th style="min-width: 100px; padding: 2px; vertical-align: middle" scope="col" rowspan="2">RETIRA</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col" colspan="3">EN CANTIDAD DE ROLLOS</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col" colspan="3">EN KILOS NETOS</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col" colspan="3">EN KILOS FIBRA</th>
                        </tr>
                        <tr style="text-align: center;">
                            <th style="min-width: 100px; padding: 2px;" scope="col">CORRESP.</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">RETIROS</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">SALDO</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">CORRESP.</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">RETIROS</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">SALDO</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">CORRESP.</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">RETIROS</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">SALDO</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (retirador of datosRetirosTotales.retiradores; track $index) {
                        <tr style="text-align: right;">
                            <th scope="row">{{grupo_retiros[retirador.retira].descripcion}}</th>
                            <td>{{toNumero(retirador.rollos_corresponde, 0)}}</td>
                            <td>{{toNumero(retirador.rollos_retiros, 0)}}</td>
                            <td>{{toNumero(retirador.rollos_saldo, 0)}}</td>
                            <td>{{toNumero(retirador.neto_corresponde, 0)}}</td>
                            <td>{{toNumero(retirador.neto_retiros, 0)}}</td>
                            <td>{{toNumero(retirador.neto_saldo, 0)}}</td>
                            <td>{{toNumero(retirador.fibra_corresponde, 2)}}</td>
                            <td>{{toNumero(retirador.fibra_retiros, 2)}}</td>
                            <td>{{toNumero(retirador.fibra_saldo, 2)}}</td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                        <tr style="text-align: right;">
                            <td><strong>TOTAL:</strong></td>
                            <td><strong>{{toNumero(datosRetirosTotales.rollos_corresponde, 0)}}</strong></td>
                            <td><strong>{{toNumero(datosRetirosTotales.rollos_retiros, 0)}}</strong></td>
                            <td><strong>{{toNumero(datosRetirosTotales.rollos_saldo, 0)}}</strong></td>
                            <td><strong>{{toNumero(datosRetirosTotales.neto_corresponde, 0)}}</strong></td>
                            <td><strong>{{toNumero(datosRetirosTotales.neto_retiros, 0)}}</strong></td>
                            <td><strong>{{toNumero(datosRetirosTotales.neto_saldo,  0)}}</strong></td>
                            <td><strong>{{toNumero(datosRetirosTotales.fibra_corresponde, 2)}}</strong></td>
                            <td><strong>{{toNumero(datosRetirosTotales.fibra_retiros, 2)}}</strong></td>
                            <td><strong>{{toNumero(datosRetirosTotales.fibra_saldo, 2)}}</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-header">
            <h6>ENTREGAS/DESTINOS - CAMPAÑA {{campana ? campana.descripcion : ''}}</h6>
        </div>
        <div class="card-body">
            @for (entregador of datosDestinos; track $index) {
            <div class="table-responsive my-4">
                <h4>Entregas de: <strong>{{entregador.socio}}</strong></h4>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr style="text-align: center;">
                            <th style="min-width: 100px; padding: 2px; vertical-align: middle" scope="col" rowspan="2">DESTINO</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col" colspan="4">ENTREGAS</th>
                        </tr>
                        <tr style="text-align: center;">
                            <th style="min-width: 100px; padding: 2px;" scope="col">ROLLOS</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">KG NETO</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">KG FIBRA</th>
                            <th style="min-width: 100px; padding: 2px;" scope="col">KG SEMILLA</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (destino of entregador.destinos; track $index) {
                        <tr style="text-align: right;">
                            <th scope="row">{{destino.destino}}</th>

                            <td>{{toNumero(destino.cantidad, 0)}}</td>
                            <td>{{toNumero(destino.neto, 0)}}</td>
                            <td>{{toNumero(destino.fibra, 2)}}</td>
                            <td>{{toNumero(destino.semilla, 2)}}</td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                        <tr style="text-align: right;">
                            <td><strong>TOTAL:</strong></td>
                            <td><strong>{{toNumero(entregador.cantidad, 0)}}</strong></td>
                            <td><strong>{{toNumero(entregador.neto, 0)}}</strong></td>
                            <td><strong>{{toNumero(entregador.fibra, 2)}}</strong></td>
                            <td><strong>{{toNumero(entregador.semilla, 2)}}</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }
        </div>
    </div>
